.content-with-scroll {
    position: relative;
    overflow: hidden;
}

.content-with-scroll-inner {
    width: 100%;
    position: absolute;
}

.scrollbar {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    width: 6px;
}

.scrollbar.active {
    display: block;
}

.content-with-scroll:hover .scrollbar {
    display: block;
}

.scrollbar-toggle {
    max-height: 100%;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    left: 0;
    opacity: .7;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(137,160,179,.5);
}